
body {
    background-color: rgb(255, 255, 255);
}
:root {
    --azul-principal: #1b79d4;
    --blue-footer: #0A1929;
    --white: #ffffff;
    --cinza-texto: #616161
    --cinzacards: #fbfbfb;
    
}

.section1 {
    background-color: var(--azul-principal);
    color: var(--white);
    padding: 60px 20%;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
}

.section1 h1 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section1 h2 {
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 30px;
}

.section1 a {
    background-color: var(--white);
    color: var(--azul-principal);
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.estatiscas {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.itemestatistica h1 {
    font-size: 32px;
    margin-bottom: 0;
}

.itemestatistica p {
    font-size: 14px;
}

.section1 img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.section2 {
    padding:80 px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cardpesquisa {
    background-color: var(--cinzacards);
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardpesquisa h1 {
    color: var(--azul-principal);
    font-size: 64px;
    margin-bottom: 10px;
}

.cardpesquisa p {
    color: var(--cinza-texto);
    font-size: 32px;
    margin-bottom: 20px;
}

input[type="search"] {
    background-color: rgb(209, 209, 209);
    opacity: 75%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 300px;
    margin-right: 10px;
}
.butaofiltro {
    background-color: var(--white);
    color: var(--azul-principal);
    padding: 8px 30px;
    border: 3px solid #F2F2F2;
    border-radius: 8px;
}