* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
}

main {
  display: flex;
  height: 100vh;
}

section {
  width: 50%;
}

#section-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h2 {
        font-size: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        gap: 15px;

        input {
            width: 550px;
            height: 60px;
            border-radius: 12px;
            border: 1px solid black;
            padding: 20px;
        }

        #email {
            background-image: url(../imgs/email.png);
            background-repeat: no-repeat;
        }
    }
}

#section-direita {
  padding: 100px 65px;
  background: linear-gradient(#1b79d4 29%, #3c9ef0 89%);
  color: white;

  #div-section-direita {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 32px;
    }

    #logo {
      width: 400px;
      height: 70px;
    }

    #vantagens {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;

        .vantagem {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
  }
}
