<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <main>
      <section id="section-esquerda">
        <div id="icone">
          <img
            src="{{url_for('static', filename='imgs/icone.png')}}"
            alt="Icone"
            id="icone"
          />
        </div>

        {% block form %} {% endblock %}
      </section>
      <section id="section-direita">
        <div id="div-section-direita">
          <img
            src="{{url_for('static', filename='imgs/logo.png')}}"
            alt="Imagem da logo"
            id="logo"
          />
          <h1>Aprenda Programação do Zero ao Avançado</h1>
          <p>
            Acesso a mais de 100 cursos de programação com os melhores
            instrutores do mercado.
          </p>
          <div id="vantagens">
            <div class="vantagem">
              <img
                src="{{url_for('static', filename='imgs/vantagem1.png')}}"
                alt="Vantagem 1"
              />
              <p>Acesso Vitalício</p>
            </div>
            <div class="vantagem">
              <img
                src="{{url_for('static', filename='imgs/vantagem2.png')}}"
                alt="Vantagem 2"
              />
              <p>Certificado Reconhecido</p>
            </div>
            <div class="vantagem">
              <img
                src="{{url_for('static', filename='imgs/vantagem3.png')}}"
                alt="Vantagem 3"
              />
              <p>Suporte Especializado</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
